.button-options{
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
    padding: .3rem .4rem;
    transition: all .15s;


    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #748690;

    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.356);
        transform: translateY(-.05rem);
    }

    &:active{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.137);

    }
}

.selected{
    color: #032336;
    background: #05BDED;
    border: 1px solid #05BDED;
    box-sizing: border-box;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}