h1{
    margin-top: 0 !important;
    margin-bottom: 1.15rem !important;
}

.mixtitle-container{
    padding-left: 3%;
}


.text{
    font-family: Montserrat;
    font-size: 1.18rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;    
}


.bold-text{
    color: #032336;
}

.light-text{
    color: #748690;
    margin-left: -5px;
}